body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

#new-task {
    width: calc(100% - 52px);
    padding: 10px;
    margin-right: 10px;
}

#add-task {
   padding: 10px;
}

#task-list{
    list-style: none;
    padding: 0;
    background-size: 135% 210%;
    background-repeat: no-repeat;
    background-position: center;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task:last-child {
    border-bottom: none;
}

.delete-task {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}
